<%- include('header') -%>
<h1>Admin</h1>
<form action="/skra" method="post">
  <% if (typeof error !== 'undefined') { %>
    <div class="error"><%= error %></div>
  <% } %>
    <div>
      <label for="date">Game Date:</label>
      <input type="datetime-local" id="date" name="date" required>
    </div>
    <div>
      <label for="homename">Home Team:</label>
      <select id="homename" name="homename" required>
        <% teams.forEach(team => { %>
          <option value="<%= team.id %>"><%= team.name %></option>
        <% }); %>
      </select>
    </div>
    <div>
      <label for="homescore">Home Team Score:</label>
      <input type="number" id="homescore" name="homescore" required min="0">
    </div>
    <div>
      <label for="awayname">Away Team:</label>
      <select id="awayname" name="awayname" required>
        <% teams.forEach(team => { %>
          <option value="<%= team.id %>"><%= team.name %></option>
        <% }); %>
      </select>
    </div>
    <div>
      <label for="awayscore">Away Team Score:</label>
      <input type="number" id="awayscore" name="awayscore" required min="0">
    </div>
    <button type="submit">Skrá leik</button>
</form>
<%- include('footer') -%>